*{margin: 0%;
    padding: 0%;
    }

body{
    background-size: cover;
    background-image: url("fundorosa.png");
}

.logo{
    display:flex;
    position: static;
    left:10%;
    top: 2vh;
    background-position: right;
    font-size: 24px;
    text-transform: uppercase;
    letter-spacing: 3px;
    margin-left: 1cm;
    text-decoration: none;
    color: fuchsia;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.social{
    position:static;
    font-size: 24px;
    right: 10%;
    top: 2vh;
    text-transform: uppercase;
    letter-spacing: 4px;
    text-decoration-color: aliceblue;
    text-decoration: none;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.nav-list{position: sticky;
    top: 0%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: 'Times New Roman', Times, serif;
    background-color: rgb(250, 249, 249);
    height: 8vh;
    text-decoration: none;
}

a:hover{
    opacity: 0.7;
}

section{
top: 15vh;
}

.container{
font-size: x-large;
border-style:groove;
margin-top: 1.5cm;
margin-left: 2cm;
margin-right: 2cm;
margin-bottom:1.5cm;
border-color:rgba(0, 0, 0, 0.766);
background-color: rgba(255, 255, 255, 0.924);
border-radius: 3%;
}

p{
color: rgb(0, 0, 0);
}

legend{
    font-size: xx-large;
    color: black;
    position: relative; left: 10px;
}

ul{
    position:relative; left: 10px;
}

h2{
    font-size: 30px;
}

.mobile-menu{
    position: sticky;
    top: 1vh;
    height: 2px;
    color:aliceblue;
    margin: 8px;
    letter-spacing: 1px;
    text-decoration: none;
    font-size: 24px;
    text-transform: uppercase;
    margin-left: 32px;
    display: none; 
}

@media(max-width: 999px){
.logo{
    display: none;
}
.social{
    display: none;
}


.mobile-menu{
    height: 2px;
    right: 12px;
    color:aliceblue;
    margin: 8px;
    letter-spacing: 1px;
    text-decoration: none;
    font-size: 24px;
    text-transform: uppercase;
    margin-left: 32px;
    display: block;
    align-items: center;
    justify-content: space-around;
}

.mlogo{position: static;
    top: 1vh;
    font-size: 24px;
    text-transform: uppercase;
    justify-content: space-around;
    text-decoration: none;
    color: fuchsia;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
}


